# IDE configs.
.idea/
*.code-workspace
.vscode/
/.env
/mplite

# Compiled files
*.pyc
tests/new.zip
__pycache__
/nimlite/*.so
/nimlite/nimtest

# Notebook checkpoints
.ipynb_checkpoints/
*.egg-info

# Packages
dist/
build/
docs/
site/

# personal notes
*scratch*.py

# local confidential data
tests/ndata/*
tests/data/pages/*.dis
