# IDE configs.
.idea/
*.code-workspace
.vscode/

# Compiled files
*.pyc
tablite_cache.h5
tablite.hdf5
tests/new.zip
VDS.h5
__pycache__

# Notebook checkpoints
.ipynb_checkpoints/
*.egg-info

# Packages
dist/
build/
docs/

# personal notes
*scratch*.py
_nimlite/nimlite
_nimlite/*.so
_nimlite/*.pyd