# IDE configs.
.idea/
*.code-workspace
.vscode/
/.env

# Compiled files
*.pyc
tests/new.zip
__pycache__
*/_nimlite/nimlite
*/_nimlite/*.so
*/_nimlite/*.pyd

# Notebook checkpoints
.ipynb_checkpoints/
*.egg-info

# Packages
dist/
build/
docs/
site/

# personal notes
*scratch*.py

# local confidential data
tests/ndata/*
