tqdm>=4.63.0
numpy==1.24.3
psutil>=5.9.5
chardet==5.1.0
pyexcel==0.7.0
pyexcel-odsr==0.6.0
pyexcel-ods==0.6.0
pyexcel-xlsx==0.6.0
pyexcel-xls==0.7.0
pyuca>=1.2
mplite==1.2.2
PyYAML==6.0
openpyxl==3.0.10 # newest version breaks pyexcel
h5py>=3.6.0